/* Classe CSS */
/* .texto-p{
    color:purple;
        Padrão é de 16px
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
     Uso Externo do CSS no HTML 
} */

/*GLOBAL*/
/* * {

}
*/

body {
    font-family:Arial, Helvetica, sans-serif; 
    margin: 0;
    padding: 0;
}

.header { 
        /* O "." É UM FATOR FUNDAMENTAL PARA O CSS RECONHECER A CLASS DO HTML */
        /* O "#" É PARA RECONHECER O UM ID */
    background-color: rgb(58, 52, 82);
    height: 90px;
    padding-top: 30px;
    border-bottom: blueviolet solid 5px;
}

.header .nav .current a,
.header spam{
    color:white;
}

.header .nav .current a {
    color:white;
}

.title-header h1{
    margin: 0;
}

.container {
    width: 80%; /* Largura do Elemento */ /* CTRL + ; - ATALHO COMENTÁRIO */
    background-color: 0;
    margin:auto;
    height: 50px;


}

.title-header h1,
.nav ul{
    float: left;
    color:rgb(210, 162, 231);
    padding: 10px;

}

.nav {
    float: right;
}

.nav a{
    text-decoration: none;
    color:rgb(210, 162, 231);
    text-transform: uppercase /* Transforma o texto em CAPSLOCK */
}

.nav li{
    display: inline-block; /* Deixa o testo na mesma linha porém um ao lado do outro */
    list-style-type: none;  
    padding: 0 20px 0 20px;
}

/* SHOWCASE */
.showcase {
    background-image: url(../img/team.png);
    background-size: cover;
    color:#ffffff;
    text-align:center;
    min-height: 400px;
}

.showcase h1{
    margin: 0;
    font-size: 55px;
    padding-top: 100px;
}

.showcase p{
    margin: 0;
    font-size: 22px;
    
}

/* NEWS */
.news {
    background-color:rgb(58, 52, 82);
    color:rgb(210, 162, 231);
    height: 100px;
}

.news h1 {
    margin: 0;
    float: left;
    padding-top: 30px;
}

.news form{
    float: right;
    padding-top: 34px;
}

.news input{
    height:25px;
    width: 225px;
}

.btn {
    background-color:white;
    color:rgb(58, 52, 82);
    border:none;
    width: 60px; 
    height:30px;

}


/* .texto-p-ez{ 
    color:red;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
} */

/* .botao-verde{
    color:green
} */


